:root {
  --link-shot-background: #506080;
}

.link-shot-hover-wrap {
  position: absolute;
  opacity: 0;
  min-width: 180px;
  min-height: 180px;
  padding: 15px;
}

.link-shot-error-wrap {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--link-shot-background);
}

.link-shot-hover-wrap img {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  min-width: 150px;
  min-height: 150px;
}

.link-shot-hover-fade-in {
  transition: opacity 0.5s ease-in;
  opacity: 1;
}

.link-shot-hover-fade-out {
  transition: opacity 0.5s linear;
  opacity: 0;
}



/* Fullscreen takeover */
.link-shot-takeover {
  position: fixed;
  inset: 0;
  z-index: 999999;
  display: none;
  color: white;

  /* Make the element itself handle scrolling */
  overflow: auto;

  /* Prevent browser gestures / scroll chaining from leaking through */
  overscroll-behavior: contain;
  touch-action: auto;

  background: var(--link-shot-background);
  font-family: sans-serif;
  margin: 0px;
  text-align: center;
}

.link-shot-takeover a {
  color: #b0b0ff;
}

.link-shot-takeover img.link-shot-cached {
  box-shadow: 0 30px 40px rgba(0,0,0,1);
  margin-top: 20px;
}

.link-shot-is-open {
  display: block;
}

.link-shot-takeover__inner {
  min-height: 100%;
  box-sizing: border-box;
  padding: 24px;
  max-width: 900px;
  margin: 0 auto;
}

.link-shot-takeover__close {
  position: sticky;
  top: 12px;
  right: 12px;
  float: right;
  z-index: 1;
  cursor: pointer;
  background: var(--link-shot-background);
}

button.link-shot-takeover__close:focus {
  background: var(--link-shot-background);
  outline: none;
}

.link-shot-takeover__close img {
  width: 50px;
  height: 50px;
}

.link-shot-takeover__title {
  margin-top: 0;
  clear: both;
}

.link-shot-no-scroll {
  overflow: hidden;
}
